* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: 'Helvetica Now Display', Helvetica, sans-serif;
}
:root {
  --themePurple : #5773FF;
  --themeBlack : #25252D;
  --themeSecondaryBlack :  #32323D;
  --themeGrey : #B2B6B9;
  --themeSilver : #E8ECEF;
  --themeLightSilver : #EEF2F3;
  --themeWhite : #FFFFFF;
}